<h1>Products</h1>

<% @products.each do |product| %>
  <div class="product">
  <h2><%= link_to product.name, product_path(product) %></h2>
    <p>$<%= product.cost %></p>
  </div>
<% end %>

<br />

<%= link_to 'New product', new_product_path %>
